<!DOCTYPE html>
<html lang="en">
<head>
    <link charset ='UTF-8'>
    <title>LMS - {% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <form method='get'>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="first_name" placeholder="Bob"><br>
        <label for="fname">Last name:</label><br>
        <input type="text" id="lname" name="last_name" placeholder="Dilan"><br>
        <label for="lname">Age:</label><br>
        <input type="number" id="age_id" name="age" placeholder="33"><br><br>
        <input type="submit" value="Submit">
    </form> 
    <br>
    <a href="create/">Create</a><br>
    <br> 

    {% for student in students %}
        <a href="update/{{ student.pk }}">Edit</a> &nbsp;&nbsp;{{student}}<br>
    {% endfor %}
</body>
</html>